<a href="https://colab.research.google.com/github/ssheggrud/Mod_20_Project/blob/05_Riley/2005_Contributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2005 Indivdual Contributions**

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
#spark_version = 'spark-2.4.8'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

import pandas as pd

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
import findspark
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-09-17 19:55:49--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  1.80MB/s    in 0.5s

2021-09-17 19:55:50 (1.80 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [4]:
# Start Spark session
#from pyspark.sql import SparkSession
#from pyspark.sql.functions import col
#spark = SparkSession.builder.appName("FinalProject").getOrCreate()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Individual+Contributions+2005.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Individual+Contributions+2005.csv"), sep=",", header=True)
df.show()

+--------+--------+------+--------+-------------+----------+------+---------+------+--------+------+----------+--------+----------+--------------+--------------------+------+------+------------------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|CANDID|CANCLASS|     CANDLAST| CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|      DATE|    REFUNDDATE|                NAME|C_CODE| STRNO|           STRNAME|APARTMENT|BOROUGHCD|         CITY|STATE|  ZIP|OCCUPATION|EMPNAME|EMPSTRNO|EMPSTRNAME|EMPCITY|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+------+--------+-------------+----------+------+---------+------+--------+------+----------+--------+----------+--------------+--------------------+------+------+------------------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2005|       5|   863|       P|        Samad|    Maryam|     A|        H|    10|     ABC|  null|      null|R0000140| 5/13/2005|          null|(Head) Coach, Big...|   IND|  null|              null|     null|        K|     Brooklyn|   NY|11212|      null|   None|    null|      null|   null|    null|   10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       4|    E9|       P|     Marshall|     Helen|     M|        J|     5|     ABC|  null|      null|R0002434| 4/27/2004|          null|     005 New Gen LLC|   LLC|136-26|      37th. Avenue|     null|        Q|       Queens|   NY|11354|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   758|       P|        Russo|Pasqualino|  null|        I|    13|     ABC|  null|      null|R0000852|  9/4/2005|          null|         02 LIFE LLC|   LLC|   156|   Bay 14th Street|     null|        K|     Brooklyn|   NY|11214|      null|   null|    null|      null|   null|    null|  200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       3|   260|       P|Thompson, Jr.|   William|     C|        J|     4|     ABC|  null|      null|R0005598|10/12/2003|          null|1 Christopher Rea...|   LLC|     1|Christopher Street|     null|        M|     New York|   NY|10014|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|    BB|       P|       Weiner|   Anthony|     D|        H|     8|     ABC|  null|      null|R0005497| 4/12/2005|          null|10 West 47th Stre...|   LLC|    10|      West 47th St|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null| 2500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       4|    ED|       P| Carrion, Jr.|    Adolfo|  null|        J|     3|     ABC|  null|      null|R0002613|  5/7/2003|          null|100 Mosholu Parkw...|  PART|   145|      Huguenot St.|     null|        Z| New Rochelle|   NY|10801|      null|   null|    null|      null|   null|    null|  350|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   280|       P|       Yassky|     David|  null|        K|     8|     ABC|  null|      null|R0004101| 7/15/2004|          null|101 West 75th St ...|   LLC|   101|         W 75th St|     null|        M|     New York|   NY|10023|      null|   null|    null|      null|   null|    null|  250|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   758|       P|        Russo|Pasqualino|  null|        I|    10|     ABC|  null|      null|R0000548| 6/20/2005|          null|105 Street Associ...|   LLC|  3092|       Hull Avenue|      # 4|        X|        Bronx|   NY|10467|      null|   null|    null|      null|   null|    null|  100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   444|       P|        Dilan|      Erik|     M|        J|     8|     ABC|  null|      null|R0000482| 3/28/2005|          null|108 Central Assoc...|   LLC|    11|    Horseshoe Lane|     null|        Z|   Great Neck|   NY|11020|      null|   null|    null|      null|   null|    null|   75|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   283|       P|      Gennaro|     James|     F|        J|    10|     ABC|  null|      null|R0001483| 5/25/2005|          null|108 Central Assoc...|   LLC|    11|    Horseshoe Lane|     null|        Z|   Great Neck|   NY|11020|      null|   null|    null|      null|   null|    null|   75|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   280|       P|       Yassky|     David|  null|        K|     8|     ABC|  null|      null|R0002838| 5/12/2004|          null|     10th STreet LLC|   LLC|     5|    N. 11th Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 5000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       4|   226|       P|    Markowitz|     Marty|  null|        H|     4|     ABC|  null|      null|R0004198|11/18/2003|          null|     10th Street LLC|   LLC|     5|      N. 11 Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       4|   226|       P|    Markowitz|     Marty|  null|        H|     5|     ABC|  null|      null|R0006786| 6/24/2004|          null|     10th Street LLC|   LLC|     5|      N. 11 Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 2850|        0|    1000|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   280|       P|       Yassky|     David|  null|        K|     8|       M|  null|      null|R0004390| 5/12/2004|5/11/2005 0:00|     10th STreet LLC|   LLC|     5|    N. 11th Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null|-2250|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|        5|     N|      N|      null|
|    2005|       1|    AY|       P|       Ferrer|  Fernando|  null|        I|     8|     ABC|  null|      null|R0016541|  5/9/2005|          null|    10th Street, LLC|   LLC|     5| North 11th Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 2000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|    51|       P|       Avella|      Tony|  null|        J|     5|     ABC|  null|      null|R0000548| 5/24/2004|          null|11-13 Hubert Stre...|   LLC|    11|     Hubert Street|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|    51|       P|       Avella|      Tony|  null|        J|     6|     ABC|  null|      null|R0000879|11/22/2004|          null|11-13 Hubert Stre...|   LLC|    11|     Hubert Street|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  250|        0|     500|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   283|       P|      Gennaro|     James|     F|        J|     5|     ABC|  null|      null|R0000766| 5/20/2004|          null|11-13 Hubert Stre...|   LLC|    11|         Hubert St|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  250|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       5|   204|       P|        Quinn| Christine|     C|        K|     6|     ABC|  null|      null|R0001474|10/28/2004|          null|11-13 Hubert Stre...|   LLC|    11|     Hubert Street|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|    AY|       P|       Ferrer|  Fernando|  null|        I|    15|     ABC|  null|      null|R0026538|10/17/2005|          null|112 South Whitney...|   LLC|   106|       Kane Street|     null|        Z|West Hartford|   CT| 6119|      null|   null|    null|      null|   null|    null|  125|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+------+--------+-------------+----------+------+---------+------+--------+------+----------+--------+----------+--------------+--------------------+------+------+------------------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import concat_ws
df2 = df.withColumn("CandidateName", concat_ws(",","CANDFIRST",'CANDLAST')) 
df2.show()

+--------+--------+------+--------+-------------+----------+------+---------+------+--------+------+----------+--------+----------+--------------+--------------------+------+------+------------------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+--------------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|     CANDLAST| CANDFIRST|CANDMI|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|      DATE|    REFUNDDATE|                NAME|C_CODE| STRNO|           STRNAME|APARTMENT|BOROUGHCD|         CITY|STATE|  ZIP|OCCUPATION|EMPNAME|EMPSTRNO|EMPSTRNAME|EMPCITY|EMPSTATE| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO|INTCITY|INTST|INTZIP|INTEMPNAME|INTEMPSTNO|INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|       CandidateName|
+--------+--------+------+--------+-------------+----------+------+---------+------+--------+------+----------+--------+----------+--------------+--------------------+------+------+------------------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+--------------------+
|    2005|       5|   863|       P|        Samad|    Maryam|     A|        H|    10|     ABC|  null|      null|R0000140| 5/13/2005|          null|(Head) Coach, Big...|   IND|  null|              null|     null|        K|     Brooklyn|   NY|11212|      null|   None|    null|      null|   null|    null|   10|       10|       0|         1|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        Maryam,Samad|
|    2005|       4|    E9|       P|     Marshall|     Helen|     M|        J|     5|     ABC|  null|      null|R0002434| 4/27/2004|          null|     005 New Gen LLC|   LLC|136-26|      37th. Avenue|     null|        Q|       Queens|   NY|11354|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|      Helen,Marshall|
|    2005|       5|   758|       P|        Russo|Pasqualino|  null|        I|    13|     ABC|  null|      null|R0000852|  9/4/2005|          null|         02 LIFE LLC|   LLC|   156|   Bay 14th Street|     null|        K|     Brooklyn|   NY|11214|      null|   null|    null|      null|   null|    null|  200|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|    Pasqualino,Russo|
|    2005|       3|   260|       P|Thompson, Jr.|   William|     C|        J|     4|     ABC|  null|      null|R0005598|10/12/2003|          null|1 Christopher Rea...|   LLC|     1|Christopher Street|     null|        M|     New York|   NY|10014|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|William,Thompson,...|
|    2005|       1|    BB|       P|       Weiner|   Anthony|     D|        H|     8|     ABC|  null|      null|R0005497| 4/12/2005|          null|10 West 47th Stre...|   LLC|    10|      West 47th St|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null| 2500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|      Anthony,Weiner|
|    2005|       4|    ED|       P| Carrion, Jr.|    Adolfo|  null|        J|     3|     ABC|  null|      null|R0002613|  5/7/2003|          null|100 Mosholu Parkw...|  PART|   145|      Huguenot St.|     null|        Z| New Rochelle|   NY|10801|      null|   null|    null|      null|   null|    null|  350|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null| Adolfo,Carrion, Jr.|
|    2005|       5|   280|       P|       Yassky|     David|  null|        K|     8|     ABC|  null|      null|R0004101| 7/15/2004|          null|101 West 75th St ...|   LLC|   101|         W 75th St|     null|        M|     New York|   NY|10023|      null|   null|    null|      null|   null|    null|  250|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        David,Yassky|
|    2005|       5|   758|       P|        Russo|Pasqualino|  null|        I|    10|     ABC|  null|      null|R0000548| 6/20/2005|          null|105 Street Associ...|   LLC|  3092|       Hull Avenue|      # 4|        X|        Bronx|   NY|10467|      null|   null|    null|      null|   null|    null|  100|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|    Pasqualino,Russo|
|    2005|       5|   444|       P|        Dilan|      Erik|     M|        J|     8|     ABC|  null|      null|R0000482| 3/28/2005|          null|108 Central Assoc...|   LLC|    11|    Horseshoe Lane|     null|        Z|   Great Neck|   NY|11020|      null|   null|    null|      null|   null|    null|   75|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|          Erik,Dilan|
|    2005|       5|   283|       P|      Gennaro|     James|     F|        J|    10|     ABC|  null|      null|R0001483| 5/25/2005|          null|108 Central Assoc...|   LLC|    11|    Horseshoe Lane|     null|        Z|   Great Neck|   NY|11020|      null|   null|    null|      null|   null|    null|   75|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|       James,Gennaro|
|    2005|       5|   280|       P|       Yassky|     David|  null|        K|     8|     ABC|  null|      null|R0002838| 5/12/2004|          null|     10th STreet LLC|   LLC|     5|    N. 11th Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 5000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|        David,Yassky|
|    2005|       4|   226|       P|    Markowitz|     Marty|  null|        H|     4|     ABC|  null|      null|R0004198|11/18/2003|          null|     10th Street LLC|   LLC|     5|      N. 11 Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 1000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|     Marty,Markowitz|
|    2005|       4|   226|       P|    Markowitz|     Marty|  null|        H|     5|     ABC|  null|      null|R0006786| 6/24/2004|          null|     10th Street LLC|   LLC|     5|      N. 11 Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 2850|        0|    1000|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|     Marty,Markowitz|
|    2005|       5|   280|       P|       Yassky|     David|  null|        K|     8|       M|  null|      null|R0004390| 5/12/2004|5/11/2005 0:00|     10th STreet LLC|   LLC|     5|    N. 11th Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null|-2250|        0|       0|         0|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|        5|     N|      N|      null|        David,Yassky|
|    2005|       1|    AY|       P|       Ferrer|  Fernando|  null|        I|     8|     ABC|  null|      null|R0016541|  5/9/2005|          null|    10th Street, LLC|   LLC|     5| North 11th Street|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 2000|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|     Fernando,Ferrer|
|    2005|       5|    51|       P|       Avella|      Tony|  null|        J|     5|     ABC|  null|      null|R0000548| 5/24/2004|          null|11-13 Hubert Stre...|   LLC|    11|     Hubert Street|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|         Tony,Avella|
|    2005|       5|    51|       P|       Avella|      Tony|  null|        J|     6|     ABC|  null|      null|R0000879|11/22/2004|          null|11-13 Hubert Stre...|   LLC|    11|     Hubert Street|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  250|        0|     500|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|         Tony,Avella|
|    2005|       5|   283|       P|      Gennaro|     James|     F|        J|     5|     ABC|  null|      null|R0000766| 5/20/2004|          null|11-13 Hubert Stre...|   LLC|    11|         Hubert St|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  250|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|       James,Gennaro|
|    2005|       5|   204|       P|        Quinn| Christine|     C|        K|     6|     ABC|  null|      null|R0001474|10/28/2004|          null|11-13 Hubert Stre...|   LLC|    11|     Hubert Street|     null|        M|     New York|   NY|10013|      null|   null|    null|      null|   null|    null|  500|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|     Christine,Quinn|
|    2005|       1|    AY|       P|       Ferrer|  Fernando|  null|        I|    15|     ABC|  null|      null|R0026538|10/17/2005|          null|112 South Whitney...|   LLC|   106|       Kane Street|     null|        Z|West Hartford|   CT| 6119|      null|   null|    null|      null|   null|    null|  125|        0|       0|         2|    null|      null|    null|    null|    null|   null| null|  null|      null|      null|      null|      null|    null|     null|     null|    null|     null|     N|      N|      null|     Fernando,Ferrer|
+--------+--------+------+--------+-------------+----------+------+---------+------+--------+------+----------+--------+----------+--------------+--------------------+------+------+------------------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+-----+---------+--------+----------+--------+----------+--------+--------+--------+-------+-----+------+----------+----------+----------+----------+--------+---------+---------+--------+---------+------+-------+----------+--------------------+
only showing top 20 rows

In [8]:
# Remove multiple columns
list = ['COMMITTEE', 'CANDMI', 'CANDLAST', 'CANDFIRST','FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTATE', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','INTERMNO', 'REFUNDDATE', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df3 = df2.drop(*list)
df3.show()

+--------+--------+------+--------+----------+--------------------+------+---------+-------------+-----+-----+-----+---------+--------+----------+--------------------+
|ELECTION|OFFICECD|CANDID|CANCLASS|      DATE|                NAME|C_CODE|BOROUGHCD|         CITY|STATE|  ZIP| AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|       CandidateName|
+--------+--------+------+--------+----------+--------------------+------+---------+-------------+-----+-----+-----+---------+--------+----------+--------------------+
|    2005|       5|   863|       P| 5/13/2005|(Head) Coach, Big...|   IND|        K|     Brooklyn|   NY|11212|   10|       10|       0|         1|        Maryam,Samad|
|    2005|       4|    E9|       P| 4/27/2004|     005 New Gen LLC|   LLC|        Q|       Queens|   NY|11354|  500|        0|       0|         2|      Helen,Marshall|
|    2005|       5|   758|       P|  9/4/2005|         02 LIFE LLC|   LLC|        K|     Brooklyn|   NY|11214|  200|        0|       0|         2|    Pasqualino,Russo|
|    2005|       3|   260|       P|10/12/2003|1 Christopher Rea...|   LLC|        M|     New York|   NY|10014|  500|        0|       0|         2|William,Thompson,...|
|    2005|       1|    BB|       P| 4/12/2005|10 West 47th Stre...|   LLC|        M|     New York|   NY|10036| 2500|        0|       0|         2|      Anthony,Weiner|
|    2005|       4|    ED|       P|  5/7/2003|100 Mosholu Parkw...|  PART|        Z| New Rochelle|   NY|10801|  350|        0|       0|         2| Adolfo,Carrion, Jr.|
|    2005|       5|   280|       P| 7/15/2004|101 West 75th St ...|   LLC|        M|     New York|   NY|10023|  250|        0|       0|         2|        David,Yassky|
|    2005|       5|   758|       P| 6/20/2005|105 Street Associ...|   LLC|        X|        Bronx|   NY|10467|  100|        0|       0|         2|    Pasqualino,Russo|
|    2005|       5|   444|       P| 3/28/2005|108 Central Assoc...|   LLC|        Z|   Great Neck|   NY|11020|   75|        0|       0|         2|          Erik,Dilan|
|    2005|       5|   283|       P| 5/25/2005|108 Central Assoc...|   LLC|        Z|   Great Neck|   NY|11020|   75|        0|       0|         2|       James,Gennaro|
|    2005|       5|   280|       P| 5/12/2004|     10th STreet LLC|   LLC|        K|     Brooklyn|   NY|11211| 5000|        0|       0|         2|        David,Yassky|
|    2005|       4|   226|       P|11/18/2003|     10th Street LLC|   LLC|        K|     Brooklyn|   NY|11211| 1000|        0|       0|         2|     Marty,Markowitz|
|    2005|       4|   226|       P| 6/24/2004|     10th Street LLC|   LLC|        K|     Brooklyn|   NY|11211| 2850|        0|    1000|         2|     Marty,Markowitz|
|    2005|       5|   280|       P| 5/12/2004|     10th STreet LLC|   LLC|        K|     Brooklyn|   NY|11211|-2250|        0|       0|         0|        David,Yassky|
|    2005|       1|    AY|       P|  5/9/2005|    10th Street, LLC|   LLC|        K|     Brooklyn|   NY|11211| 2000|        0|       0|         2|     Fernando,Ferrer|
|    2005|       5|    51|       P| 5/24/2004|11-13 Hubert Stre...|   LLC|        M|     New York|   NY|10013|  500|        0|       0|         2|         Tony,Avella|
|    2005|       5|    51|       P|11/22/2004|11-13 Hubert Stre...|   LLC|        M|     New York|   NY|10013|  250|        0|     500|         2|         Tony,Avella|
|    2005|       5|   283|       P| 5/20/2004|11-13 Hubert Stre...|   LLC|        M|     New York|   NY|10013|  250|        0|       0|         2|       James,Gennaro|
|    2005|       5|   204|       P|10/28/2004|11-13 Hubert Stre...|   LLC|        M|     New York|   NY|10013|  500|        0|       0|         2|     Christine,Quinn|
|    2005|       1|    AY|       P|10/17/2005|112 South Whitney...|   LLC|        Z|West Hartford|   CT| 6119|  125|        0|       0|         2|     Fernando,Ferrer|
+--------+--------+------+--------+----------+--------------------+------+---------+-------------+-----+-----+-----+---------+--------+----------+--------------------+
only showing top 20 rows

In [9]:
#Rearrange columns
df4=df3.select('ELECTION','OFFICECD','CANDID','CANCLASS','CandidateName', 'DATE', 'NAME','C_CODE','BOROUGHCD','CITY','STATE', 'ZIP', 'AMNT', 'MATCHAMNT', 'PREVAMNT', 'PAY_METHOD')

In [10]:
# check data types
df4.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('CANDID', 'string'),
 ('CANCLASS', 'string'),
 ('CandidateName', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [11]:
#Change column names
df5 = df4 \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("CANDID", "CandidateID") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributorType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod")

df5.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = false)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [12]:
df5.show()

+--------+--------+-----------+--------+--------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|      Date|                Name|ContributorType|BoroughName|         City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|    2005|       5|        863|       P|        Maryam,Samad| 5/13/2005|(Head) Coach, Big...|            IND|          K|     Brooklyn|   NY|  11212|    10|      10|      0|        1|
|    2005|       4|         E9|       P|      Helen,Marshall| 4/27/2004|     005 New Gen LLC|            LLC|          Q|       Queens|   NY|  11354|   500|       0|      0|        2|
|    2005|       5|        758|       P|    Pasqualino,Russo|  9/4/2005|         02 LIFE LLC|            LLC|          K|     Brooklyn|   NY|  11214|   200|       0|      0|        2|
|    2005|       3|        260|       P|William,Thompson,...|10/12/2003|1 Christopher Rea...|            LLC|          M|     New York|   NY|  10014|   500|       0|      0|        2|
|    2005|       1|         BB|       P|      Anthony,Weiner| 4/12/2005|10 West 47th Stre...|            LLC|          M|     New York|   NY|  10036|  2500|       0|      0|        2|
|    2005|       4|         ED|       P| Adolfo,Carrion, Jr.|  5/7/2003|100 Mosholu Parkw...|           PART|          Z| New Rochelle|   NY|  10801|   350|       0|      0|        2|
|    2005|       5|        280|       P|        David,Yassky| 7/15/2004|101 West 75th St ...|            LLC|          M|     New York|   NY|  10023|   250|       0|      0|        2|
|    2005|       5|        758|       P|    Pasqualino,Russo| 6/20/2005|105 Street Associ...|            LLC|          X|        Bronx|   NY|  10467|   100|       0|      0|        2|
|    2005|       5|        444|       P|          Erik,Dilan| 3/28/2005|108 Central Assoc...|            LLC|          Z|   Great Neck|   NY|  11020|    75|       0|      0|        2|
|    2005|       5|        283|       P|       James,Gennaro| 5/25/2005|108 Central Assoc...|            LLC|          Z|   Great Neck|   NY|  11020|    75|       0|      0|        2|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|            LLC|          K|     Brooklyn|   NY|  11211|  5000|       0|      0|        2|
|    2005|       4|        226|       P|     Marty,Markowitz|11/18/2003|     10th Street LLC|            LLC|          K|     Brooklyn|   NY|  11211|  1000|       0|      0|        2|
|    2005|       4|        226|       P|     Marty,Markowitz| 6/24/2004|     10th Street LLC|            LLC|          K|     Brooklyn|   NY|  11211|  2850|       0|   1000|        2|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|            LLC|          K|     Brooklyn|   NY|  11211| -2250|       0|      0|        0|
|    2005|       1|         AY|       P|     Fernando,Ferrer|  5/9/2005|    10th Street, LLC|            LLC|          K|     Brooklyn|   NY|  11211|  2000|       0|      0|        2|
|    2005|       5|         51|       P|         Tony,Avella| 5/24/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   500|       0|      0|        2|
|    2005|       5|         51|       P|         Tony,Avella|11/22/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   250|       0|    500|        2|
|    2005|       5|        283|       P|       James,Gennaro| 5/20/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   250|       0|      0|        2|
|    2005|       5|        204|       P|     Christine,Quinn|10/28/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   500|       0|      0|        2|
|    2005|       1|         AY|       P|     Fernando,Ferrer|10/17/2005|112 South Whitney...|            LLC|          Z|West Hartford|   CT|   6119|   125|       0|      0|        2|
+--------+--------+-----------+--------+--------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [13]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [14]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
#func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())
#df6 = df5.withColumn("Election", df5["Election"].cast("Integer")) \
 # .withColumn("OFFICECD", df5["OFFICECD"].cast("Integer")) \
  #.withColumn("ZipCode", df5["ZipCode"].cast("Integer")) \
  #.withColumn("Amount", df5["Amount"].cast("Float")) \
  #.withColumn("MatchAmt", df5["MatchAmt"].cast("Float")) \
  #.withColumn("PrevAmt", df5["PrevAmt"].cast("Float")) \
  #.withColumn('Date', func(col('Date')))

#df6.printSchema()

#Keep CandidateID as string
#.withColumn("CandidateID", df4["CandidateID"].cast("Integer")) \

In [15]:
df5.show()

+--------+--------+-----------+--------+--------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|      Date|                Name|ContributorType|BoroughName|         City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|    2005|       5|        863|       P|        Maryam,Samad| 5/13/2005|(Head) Coach, Big...|            IND|          K|     Brooklyn|   NY|  11212|    10|      10|      0|        1|
|    2005|       4|         E9|       P|      Helen,Marshall| 4/27/2004|     005 New Gen LLC|            LLC|          Q|       Queens|   NY|  11354|   500|       0|      0|        2|
|    2005|       5|        758|       P|    Pasqualino,Russo|  9/4/2005|         02 LIFE LLC|            LLC|          K|     Brooklyn|   NY|  11214|   200|       0|      0|        2|
|    2005|       3|        260|       P|William,Thompson,...|10/12/2003|1 Christopher Rea...|            LLC|          M|     New York|   NY|  10014|   500|       0|      0|        2|
|    2005|       1|         BB|       P|      Anthony,Weiner| 4/12/2005|10 West 47th Stre...|            LLC|          M|     New York|   NY|  10036|  2500|       0|      0|        2|
|    2005|       4|         ED|       P| Adolfo,Carrion, Jr.|  5/7/2003|100 Mosholu Parkw...|           PART|          Z| New Rochelle|   NY|  10801|   350|       0|      0|        2|
|    2005|       5|        280|       P|        David,Yassky| 7/15/2004|101 West 75th St ...|            LLC|          M|     New York|   NY|  10023|   250|       0|      0|        2|
|    2005|       5|        758|       P|    Pasqualino,Russo| 6/20/2005|105 Street Associ...|            LLC|          X|        Bronx|   NY|  10467|   100|       0|      0|        2|
|    2005|       5|        444|       P|          Erik,Dilan| 3/28/2005|108 Central Assoc...|            LLC|          Z|   Great Neck|   NY|  11020|    75|       0|      0|        2|
|    2005|       5|        283|       P|       James,Gennaro| 5/25/2005|108 Central Assoc...|            LLC|          Z|   Great Neck|   NY|  11020|    75|       0|      0|        2|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|            LLC|          K|     Brooklyn|   NY|  11211|  5000|       0|      0|        2|
|    2005|       4|        226|       P|     Marty,Markowitz|11/18/2003|     10th Street LLC|            LLC|          K|     Brooklyn|   NY|  11211|  1000|       0|      0|        2|
|    2005|       4|        226|       P|     Marty,Markowitz| 6/24/2004|     10th Street LLC|            LLC|          K|     Brooklyn|   NY|  11211|  2850|       0|   1000|        2|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|            LLC|          K|     Brooklyn|   NY|  11211| -2250|       0|      0|        0|
|    2005|       1|         AY|       P|     Fernando,Ferrer|  5/9/2005|    10th Street, LLC|            LLC|          K|     Brooklyn|   NY|  11211|  2000|       0|      0|        2|
|    2005|       5|         51|       P|         Tony,Avella| 5/24/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   500|       0|      0|        2|
|    2005|       5|         51|       P|         Tony,Avella|11/22/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   250|       0|    500|        2|
|    2005|       5|        283|       P|       James,Gennaro| 5/20/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   250|       0|      0|        2|
|    2005|       5|        204|       P|     Christine,Quinn|10/28/2004|11-13 Hubert Stre...|            LLC|          M|     New York|   NY|  10013|   500|       0|      0|        2|
|    2005|       1|         AY|       P|     Fernando,Ferrer|10/17/2005|112 South Whitney...|            LLC|          Z|West Hartford|   CT|   6119|   125|       0|      0|        2|
+--------+--------+-----------+--------+--------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [16]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df7 = df5.withColumn('ContributorType', regexp_replace('ContributorType', 'CAN', 'Candidate')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'CORP', 'Corporation')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'IND', 'Individual')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'ORG', 'Orgainization')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'SPO', 'Spouse')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'OTHR', 'Other')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PART', 'Individual')) \

In [17]:
df7.show()

+--------+--------+-----------+--------+--------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|      Date|                Name|     ContributorType|BoroughName|         City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|    2005|       5|        863|       P|        Maryam,Samad| 5/13/2005|(Head) Coach, Big...|          Individual|          K|     Brooklyn|   NY|  11212|    10|      10|      0|        1|
|    2005|       4|         E9|       P|      Helen,Marshall| 4/27/2004|     005 New Gen LLC|Limited Liability...|          Q|       Queens|   NY|  11354|   500|       0|      0|        2|
|    2005|       5|        758|       P|    Pasqualino,Russo|  9/4/2005|         02 LIFE LLC|Limited Liability...|          K|     Brooklyn|   NY|  11214|   200|       0|      0|        2|
|    2005|       3|        260|       P|William,Thompson,...|10/12/2003|1 Christopher Rea...|Limited Liability...|          M|     New York|   NY|  10014|   500|       0|      0|        2|
|    2005|       1|         BB|       P|      Anthony,Weiner| 4/12/2005|10 West 47th Stre...|Limited Liability...|          M|     New York|   NY|  10036|  2500|       0|      0|        2|
|    2005|       4|         ED|       P| Adolfo,Carrion, Jr.|  5/7/2003|100 Mosholu Parkw...|          Individual|          Z| New Rochelle|   NY|  10801|   350|       0|      0|        2|
|    2005|       5|        280|       P|        David,Yassky| 7/15/2004|101 West 75th St ...|Limited Liability...|          M|     New York|   NY|  10023|   250|       0|      0|        2|
|    2005|       5|        758|       P|    Pasqualino,Russo| 6/20/2005|105 Street Associ...|Limited Liability...|          X|        Bronx|   NY|  10467|   100|       0|      0|        2|
|    2005|       5|        444|       P|          Erik,Dilan| 3/28/2005|108 Central Assoc...|Limited Liability...|          Z|   Great Neck|   NY|  11020|    75|       0|      0|        2|
|    2005|       5|        283|       P|       James,Gennaro| 5/25/2005|108 Central Assoc...|Limited Liability...|          Z|   Great Neck|   NY|  11020|    75|       0|      0|        2|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  5000|       0|      0|        2|
|    2005|       4|        226|       P|     Marty,Markowitz|11/18/2003|     10th Street LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  1000|       0|      0|        2|
|    2005|       4|        226|       P|     Marty,Markowitz| 6/24/2004|     10th Street LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  2850|       0|   1000|        2|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211| -2250|       0|      0|        0|
|    2005|       1|         AY|       P|     Fernando,Ferrer|  5/9/2005|    10th Street, LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  2000|       0|      0|        2|
|    2005|       5|         51|       P|         Tony,Avella| 5/24/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   500|       0|      0|        2|
|    2005|       5|         51|       P|         Tony,Avella|11/22/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   250|       0|    500|        2|
|    2005|       5|        283|       P|       James,Gennaro| 5/20/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   250|       0|      0|        2|
|    2005|       5|        204|       P|     Christine,Quinn|10/28/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   500|       0|      0|        2|
|    2005|       1|         AY|       P|     Fernando,Ferrer|10/17/2005|112 South Whitney...|Limited Liability...|          Z|West Hartford|   CT|   6119|   125|       0|      0|        2|
+--------+--------+-----------+--------+--------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [18]:
#Change Payment Method Name
df8=df7.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [19]:
df8.show()

+--------+--------+-----------+--------+--------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|       CandidateName|      Date|                Name|     ContributorType|BoroughName|         City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+--------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+
|    2005|       5|        863|       P|        Maryam,Samad| 5/13/2005|(Head) Coach, Big...|          Individual|          K|     Brooklyn|   NY|  11212|    10|      10|      0|     Cash|
|    2005|       4|         E9|       P|      Helen,Marshall| 4/27/2004|     005 New Gen LLC|Limited Liability...|          Q|       Queens|   NY|  11354|   500|       0|      0|    Check|
|    2005|       5|        758|       P|    Pasqualino,Russo|  9/4/2005|         02 LIFE LLC|Limited Liability...|          K|     Brooklyn|   NY|  11214|   200|       0|      0|    Check|
|    2005|       3|        260|       P|William,Thompson,...|10/12/2003|1 Christopher Rea...|Limited Liability...|          M|     New York|   NY|  10014|   500|       0|      0|    Check|
|    2005|       1|         BB|       P|      Anthony,Weiner| 4/12/2005|10 West 47th Stre...|Limited Liability...|          M|     New York|   NY|  10036|  2500|       0|      0|    Check|
|    2005|       4|         ED|       P| Adolfo,Carrion, Jr.|  5/7/2003|100 Mosholu Parkw...|          Individual|          Z| New Rochelle|   NY|  10801|   350|       0|      0|    Check|
|    2005|       5|        280|       P|        David,Yassky| 7/15/2004|101 West 75th St ...|Limited Liability...|          M|     New York|   NY|  10023|   250|       0|      0|    Check|
|    2005|       5|        758|       P|    Pasqualino,Russo| 6/20/2005|105 Street Associ...|Limited Liability...|          X|        Bronx|   NY|  10467|   100|       0|      0|    Check|
|    2005|       5|        444|       P|          Erik,Dilan| 3/28/2005|108 Central Assoc...|Limited Liability...|          Z|   Great Neck|   NY|  11020|    75|       0|      0|    Check|
|    2005|       5|        283|       P|       James,Gennaro| 5/25/2005|108 Central Assoc...|Limited Liability...|          Z|   Great Neck|   NY|  11020|    75|       0|      0|    Check|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  5000|       0|      0|    Check|
|    2005|       4|        226|       P|     Marty,Markowitz|11/18/2003|     10th Street LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  1000|       0|      0|    Check|
|    2005|       4|        226|       P|     Marty,Markowitz| 6/24/2004|     10th Street LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  2850|       0|   1000|    Check|
|    2005|       5|        280|       P|        David,Yassky| 5/12/2004|     10th STreet LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211| -2250|       0|      0|  Unknown|
|    2005|       1|         AY|       P|     Fernando,Ferrer|  5/9/2005|    10th Street, LLC|Limited Liability...|          K|     Brooklyn|   NY|  11211|  2000|       0|      0|    Check|
|    2005|       5|         51|       P|         Tony,Avella| 5/24/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   500|       0|      0|    Check|
|    2005|       5|         51|       P|         Tony,Avella|11/22/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   250|       0|    500|    Check|
|    2005|       5|        283|       P|       James,Gennaro| 5/20/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   250|       0|      0|    Check|
|    2005|       5|        204|       P|     Christine,Quinn|10/28/2004|11-13 Hubert Stre...|Limited Liability...|          M|     New York|   NY|  10013|   500|       0|      0|    Check|
|    2005|       1|         AY|       P|     Fernando,Ferrer|10/17/2005|112 South Whitney...|Limited Liability...|          Z|West Hartford|   CT|   6119|   125|       0|      0|    Check|
+--------+--------+-----------+--------+--------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+
only showing top 20 rows

In [20]:
#Change Borough name
df9 = df8.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [21]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df10 = df9.filter((df8.OFFICECD=="1") & (df8.CANCLASS=="P"))

In [22]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df10.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [23]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df11 = df10.drop(*list2)

In [24]:
#Filter Dataframe removing the null CandidateID values
df12 = df11.filter(df10.CandidateID.isNotNull())

In [25]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_indiv_2005_df = df11.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_indiv_2005_df.show()

+--------+-----------+------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+-----------+
|Election|CandidateID|     CandidateName|      Date|                Name|     ContributorType|BoroughName|         City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+-----------+
|    2005|         BB|    Anthony,Weiner| 4/12/2005|10 West 47th Stre...|Limited Liability...|  Manhattan|     New York|   NY|  10036|  2500|       0|      0|    Check|     2500.0|
|    2005|         AY|   Fernando,Ferrer|  5/9/2005|    10th Street, LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|  2000|       0|      0|    Check|     2000.0|
|    2005|         AY|   Fernando,Ferrer|10/17/2005|112 South Whitney...|Limited Liability...|      Other|West Hartford|   CT|   6119|   125|       0|      0|    Check|      125.0|
|    2005|         B6|C. Virginia,Fields| 6/22/2004|119 East 35th Street|               Other|  Manhattan|     New York|   NY|  10006|   100|       0|      0|    Check|      100.0|
|    2005|         BB|    Anthony,Weiner| 3/28/2004|           1199 SEIU|Political Action ...|  Manhattan|     New York|   NY|  10036|  4950|       0|      0|    Check|     4950.0|
|    2005|         Y2| A. Gifford,Miller| 5/22/2003|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|  2200|       0|   2750|    Check|     4950.0|
|    2005|         Y2| A. Gifford,Miller| 5/17/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|  1000|       0|      0|    Check|     1000.0|
|    2005|         Y2| A. Gifford,Miller| 7/11/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|  1750|       0|   1000|    Check|     2750.0|
|    2005|         AY|   Fernando,Ferrer| 9/28/2005|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|     New York|   NY|  10036|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 10/4/2004| 125 Kent Avenue LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|   200|       0|      0|    Check|      200.0|
|    2005|         BB|    Anthony,Weiner|  1/3/2005|125 North 10th St...|Limited Liability...|      Other|       Elmont|   NY|  11003|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 1/11/2005|1280 Commonwealth...|Limited Liability...|      Bronx|        Bronx|   NY|  10461|   500|       0|      0|    Check|      500.0|
|    2005|         B6|C. Virginia,Fields| 6/12/2002|135 East 57th Str...|Limited Liability...|  Manhattan|     New York|   NY|  10022|  1000|       0|      0|    Check|     1000.0|
|    2005|         AY|   Fernando,Ferrer| 1/11/2005|137 & 138 Realty LLC|Limited Liability...|  Manhattan|     New York|   NY|  10016|   500|       0|      0|    Check|      500.0|
|    2005|         AY|   Fernando,Ferrer|10/20/2004|    1420 Realty, LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2005|         BB|    Anthony,Weiner| 6/27/2005|147 Group Realty LLC|Limited Liability...|      Other|   Searington|   NY|  11507|   250|       0|      0|    Check|      250.0|
|    2005|         AY|   Fernando,Ferrer| 9/19/2005|151st Street Hold...|Limited Liability...|      Other|        Miami|   FL|  33142|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 7/11/2004|1628-1630 Broadwa...|Limited Liability...|  Manhattan|     New York|   NY|  10019|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 1/27/2005|1695 Eastchester LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2005|         B6|C. Virginia,Fields| 12/4/2003|   1800 Park Ave LLC|Limited Liability...|  Manhattan|     New York|   NY|  10022|  1000|       0|      0|    Check|     1000.0|
+--------+-----------+------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+-----------+
only showing top 20 rows

In [26]:
#Export to Clean CSV
#clean_indiv_2005_df.toPandas().to_csv("Clean_Indivdual_2005.csv", header=True)

## **2005 Committee Contributions**

In [27]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://databootcamp-final-05.s3.amazonaws.com/Resources/Committee+Contributions+2005+(X).csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("Committee+Contributions+2005+(X).csv"), sep=",", header=True)
df.show()

+--------+--------+-------+--------+-------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+----+---------+--------+----------+--------+-------------+--------+--------+--------+--------+-----+------+----------------+----------+-------------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|          RECIPNAME|COMMITTEE|FILING|SCHEDULE|PAGENO|SEQUENCENO|   REFNO|      DATE|REFUNDDATE|                NAME|C_CODE|STRNO|STRNAME|APARTMENT|BOROUGHCD|         CITY|STATE|  ZIP|OCCUPATION|EMPNAME|EMPSTRNO|EMPSTRNAME|EMPCITY|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|INTERMNO|   INTERMNAME|INTSTRNO|INTSTRNM|INTAPTNO| INTCITY|INTST|INTZIP|      INTEMPNAME|INTEMPSTNO|   INTEMPSTNM|INTEMPCITY|INTEMPST|INTOCCUPA|PURPOSECD|EXEMPTCD|ADJTYPECD|RR_IND|SEG_IND|INT_C_CODE|
+--------+--------+-------+--------+-------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+----+---------+--------+----------+--------+-------------+--------+--------+--------+--------+-----+------+----------------+----------+-------------+----------+--------+---------+---------+--------+---------+------+-------+----------+
|    2005|       1|     BB|       P|  Weiner, Anthony D|        H|     8|     ABC|  null|      null|R0005497| 4/12/2005|      null|10 West 47th Stre...|   LLC| null|   null|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null|2500|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|     8|     ABC|  null|      null|R0016541|  5/9/2005|      null|    10th Street, LLC|   LLC| null|   null|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null|2000|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|    15|     ABC|  null|      null|R0026538|10/17/2005|      null|112 South Whitney...|   LLC| null|   null|     null|        Z|West Hartford|   CT| 6119|      null|   null|    null|      null|   null|    null| 125|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     B6|       P|Fields, C. Virginia|        J|     5|     ABC|  null|      null|R0005035| 6/22/2004|      null|119 East 35th Street|  OTHR| null|   null|     null|        M|     New York|   NY|10006|      null|   null|    null|      null|   null|    null| 100|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     BB|       P|  Weiner, Anthony D|        H|     5|     ABC|  null|      null|R0000051| 3/28/2004|      null|           1199 SEIU| PCOMP| null|   null|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null|4950|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     Y2|       P| Miller, A. Gifford|        H|     1|     ABC|  null|      null|R0000013| 5/17/2002|      null|   1199 SEIU NYS Paf| PCOMP| null|   null|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null|1000|        0|       0|         2|       1|Yoswein, Joni|    null|    null|    null|Brooklyn|   NY| 11201|Yoswein New York|        74|Trinity Place|  New York|      NY|President|     null|    null|     null|     N|      N|       IND|
|    2005|       1|     Y2|       P| Miller, A. Gifford|        H|     1|     ABC|  null|      null|R0000684| 7/11/2002|      null|   1199 SEIU NYS Paf| PCOMP| null|   null|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null|1750|        0|    1000|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     Y2|       P| Miller, A. Gifford|        H|     3|     ABC|  null|      null|R0004924| 5/22/2003|      null|   1199 SEIU NYS Paf| PCOMP| null|   null|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null|2200|        0|    2750|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|    14|     ABC|  null|      null|R0024353| 9/28/2005|      null|1199/SEIU NYS Pol...| PCOMP| null|   null|     null|        M|     New York|   NY|10036|      null|   null|    null|      null|   null|    null|4950|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|     6|     ABC|  null|      null|R0010602| 10/4/2004|      null| 125 Kent Avenue LLC|   LLC| null|   null|     null|        K|     Brooklyn|   NY|11211|      null|   null|    null|      null|   null|    null| 200|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     BB|       P|  Weiner, Anthony D|        H|     6|     ABC|  null|      null|R0004084|  1/3/2005|      null|125 North 10th St...|   LLC| null|   null|     null|        Z|       Elmont|   NY|11003|      null|   null|    null|      null|   null|    null|4950|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|     6|     ABC|  null|      null|R0012712| 1/11/2005|      null|1280 Commonwealth...|   LLC| null|   null|     null|        X|        Bronx|   NY|10461|      null|   null|    null|      null|   null|    null| 500|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     B6|       P|Fields, C. Virginia|        J|     3|     ABC|  null|      null|R0001677| 6/12/2002|      null|135 East 57th Str...|   LLC| null|   null|     null|        M|     New York|   NY|10022|      null|   null|    null|      null|   null|    null|1000|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|     6|     ABC|  null|      null|R0012664| 1/11/2005|      null|137 & 138 Realty LLC|   LLC| null|   null|     null|        M|     New York|   NY|10016|      null|   null|    null|      null|   null|    null| 500|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|     6|     ABC|  null|      null|R0010892|10/20/2004|      null|    1420 Realty, LLC|   LLC| null|   null|     null|        X|        Bronx|   NY|10461|      null|   null|    null|      null|   null|    null|1000|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     BB|       P|  Weiner, Anthony D|        H|    10|     ABC|  null|      null|R0007730| 6/27/2005|      null|147 Group Realty LLC|   LLC| null|   null|     null|        Z|   Searington|   NY|11507|      null|   null|    null|      null|   null|    null| 250|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|    13|     ABC|  null|      null|R0023726| 9/19/2005|      null|151st Street Hold...|   LLC| null|   null|     null|        Z|        Miami|   FL|33142|      null|   null|    null|      null|   null|    null|4950|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|     5|     ABC|  null|      null|R0009796| 7/11/2004|      null|1628-1630 Broadwa...|   LLC| null|   null|     null|        M|     New York|   NY|10019|      null|   null|    null|      null|   null|    null|4950|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     AY|       P|   Ferrer, Fernando|        I|     7|     ABC|  null|      null|R0013269| 1/27/2005|      null|1695 Eastchester LLC|   LLC| null|   null|     null|        X|        Bronx|   NY|10461|      null|   null|    null|      null|   null|    null|1000|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
|    2005|       1|     B6|       P|Fields, C. Virginia|        J|     4|     ABC|  null|      null|R0003085| 12/4/2003|      null|   1800 Park Ave LLC|   LLC| null|   null|     null|        M|     New York|   NY|10022|      null|   null|    null|      null|   null|    null|1000|        0|       0|         2|    null|         null|    null|    null|    null|    null| null|  null|            null|      null|         null|      null|    null|     null|     null|    null|     null|     N|      N|      null|
+--------+--------+-------+--------+-------------------+---------+------+--------+------+----------+--------+----------+----------+--------------------+------+-----+-------+---------+---------+-------------+-----+-----+----------+-------+--------+----------+-------+--------+----+---------+--------+----------+--------+-------------+--------+--------+--------+--------+-----+------+----------------+----------+-------------+----------+--------+---------+---------+--------+---------+------+-------+----------+
only showing top 20 rows

In [28]:
# Remove multiple columns
list = ['COMMITTEE', 'FILING', 'SCHEDULE', 'PAGENO', 'SEQUENCENO','REFNO', 'STRNO', 'STRNAME', 'APARTMENT', 'OCCUPATION', 'EMPNAME', 'EMPSTRNO', 'EMPSTRNAME',
                'EMPCITY','REFUNDDATE','INTERMNO', 'INTERMNAME', 'INTSTRNO', 'INTSTRNM', 'INTSTRNM', 'INTAPTNO',
                'INTCITY', 'INTST','INTZIP', 'INTEMPNAME', 'INTEMPSTNO', 'INTEMPSTNM', 'INTEMPCITY', 'INTEMPST', 'INTOCCUPA' ,'PURPOSECD', 'EXEMPTCD','ADJTYPECD', 'RR_IND', 'SEG_IND','INT_C_CODE'] 
df = df.drop(*list)
df.show()

+--------+--------+-------+--------+-------------------+----------+--------------------+------+---------+-------------+-----+-----+--------+----+---------+--------+----------+
|ELECTION|OFFICECD|RECIPID|CANCLASS|          RECIPNAME|      DATE|                NAME|C_CODE|BOROUGHCD|         CITY|STATE|  ZIP|EMPSTATE|AMNT|MATCHAMNT|PREVAMNT|PAY_METHOD|
+--------+--------+-------+--------+-------------------+----------+--------------------+------+---------+-------------+-----+-----+--------+----+---------+--------+----------+
|    2005|       1|     BB|       P|  Weiner, Anthony D| 4/12/2005|10 West 47th Stre...|   LLC|        M|     New York|   NY|10036|    null|2500|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando|  5/9/2005|    10th Street, LLC|   LLC|        K|     Brooklyn|   NY|11211|    null|2000|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando|10/17/2005|112 South Whitney...|   LLC|        Z|West Hartford|   CT| 6119|    null| 125|        0|       0|         2|
|    2005|       1|     B6|       P|Fields, C. Virginia| 6/22/2004|119 East 35th Street|  OTHR|        M|     New York|   NY|10006|    null| 100|        0|       0|         2|
|    2005|       1|     BB|       P|  Weiner, Anthony D| 3/28/2004|           1199 SEIU| PCOMP|        M|     New York|   NY|10036|    null|4950|        0|       0|         2|
|    2005|       1|     Y2|       P| Miller, A. Gifford| 5/17/2002|   1199 SEIU NYS Paf| PCOMP|        M|     New York|   NY|10036|    null|1000|        0|       0|         2|
|    2005|       1|     Y2|       P| Miller, A. Gifford| 7/11/2002|   1199 SEIU NYS Paf| PCOMP|        M|     New York|   NY|10036|    null|1750|        0|    1000|         2|
|    2005|       1|     Y2|       P| Miller, A. Gifford| 5/22/2003|   1199 SEIU NYS Paf| PCOMP|        M|     New York|   NY|10036|    null|2200|        0|    2750|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando| 9/28/2005|1199/SEIU NYS Pol...| PCOMP|        M|     New York|   NY|10036|    null|4950|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando| 10/4/2004| 125 Kent Avenue LLC|   LLC|        K|     Brooklyn|   NY|11211|    null| 200|        0|       0|         2|
|    2005|       1|     BB|       P|  Weiner, Anthony D|  1/3/2005|125 North 10th St...|   LLC|        Z|       Elmont|   NY|11003|    null|4950|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando| 1/11/2005|1280 Commonwealth...|   LLC|        X|        Bronx|   NY|10461|    null| 500|        0|       0|         2|
|    2005|       1|     B6|       P|Fields, C. Virginia| 6/12/2002|135 East 57th Str...|   LLC|        M|     New York|   NY|10022|    null|1000|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando| 1/11/2005|137 & 138 Realty LLC|   LLC|        M|     New York|   NY|10016|    null| 500|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando|10/20/2004|    1420 Realty, LLC|   LLC|        X|        Bronx|   NY|10461|    null|1000|        0|       0|         2|
|    2005|       1|     BB|       P|  Weiner, Anthony D| 6/27/2005|147 Group Realty LLC|   LLC|        Z|   Searington|   NY|11507|    null| 250|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando| 9/19/2005|151st Street Hold...|   LLC|        Z|        Miami|   FL|33142|    null|4950|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando| 7/11/2004|1628-1630 Broadwa...|   LLC|        M|     New York|   NY|10019|    null|4950|        0|       0|         2|
|    2005|       1|     AY|       P|   Ferrer, Fernando| 1/27/2005|1695 Eastchester LLC|   LLC|        X|        Bronx|   NY|10461|    null|1000|        0|       0|         2|
|    2005|       1|     B6|       P|Fields, C. Virginia| 12/4/2003|   1800 Park Ave LLC|   LLC|        M|     New York|   NY|10022|    null|1000|        0|       0|         2|
+--------+--------+-------+--------+-------------------+----------+--------------------+------+---------+-------------+-----+-----+--------+----+---------+--------+----------+
only showing top 20 rows

In [29]:
# check data types
df.dtypes

[('ELECTION', 'string'),
 ('OFFICECD', 'string'),
 ('RECIPID', 'string'),
 ('CANCLASS', 'string'),
 ('RECIPNAME', 'string'),
 ('DATE', 'string'),
 ('NAME', 'string'),
 ('C_CODE', 'string'),
 ('BOROUGHCD', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('EMPSTATE', 'string'),
 ('AMNT', 'string'),
 ('MATCHAMNT', 'string'),
 ('PREVAMNT', 'string'),
 ('PAY_METHOD', 'string')]

In [30]:
#Change column names
df1 = df \
.withColumnRenamed("ELECTION", "Election") \
.withColumnRenamed("RECIPID", "CandidateID") \
.withColumnRenamed("RECIPNAME", "CandidateName") \
.withColumnRenamed("DATE", "Date") \
.withColumnRenamed("NAME", "Name") \
.withColumnRenamed("C_CODE", "ContributorType") \
.withColumnRenamed("BOROUGHCD", "BoroughName") \
.withColumnRenamed("CITY", "City") \
.withColumnRenamed("STATE", "State") \
.withColumnRenamed("ZIP", "ZipCode") \
.withColumnRenamed("EMPSTATE", "ContributionState") \
.withColumnRenamed("AMNT", "Amount") \
.withColumnRenamed("MATCHAMNT", "MatchAmt") \
.withColumnRenamed("PREVAMNT", "PrevAmt") \
.withColumnRenamed("PAY_METHOD", "PayMethod") 

df1.printSchema()

root
 |-- Election: string (nullable = true)
 |-- OFFICECD: string (nullable = true)
 |-- CandidateID: string (nullable = true)
 |-- CANCLASS: string (nullable = true)
 |-- CandidateName: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ContributorType: string (nullable = true)
 |-- BoroughName: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- ContributionState: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- MatchAmt: string (nullable = true)
 |-- PrevAmt: string (nullable = true)
 |-- PayMethod: string (nullable = true)

In [31]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [32]:
# using lambda function to convert date col to datetype
# changing datatypes of columns
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())

In [33]:
#df2 = df1.withColumn("Election",df1["Election"].cast("Integer")) \
  #.withColumn("OFFICECD", df1["OFFICECD"].cast("Integer")) \
  #.withColumn("ZipCode", df1["ZipCode"].cast("Integer")) \
  #.withColumn("Amount", df1["Amount"].cast("Float")) \
  #.withColumn("MatchAmt", df1["MatchAmt"].cast("Float")) \
  #.withColumn("PrevAmt", df1["PrevAmt"].cast("Float")) \
  #.withColumn('Date', func(col('Date')))
#df2.printSchema()

#Keep Candidate ID as string
#.withColumn("CandidateID", df1["CandidateID"].cast("Integer")) \

In [34]:
df1.show()

+--------+--------+-----------+--------+-------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|      CandidateName|      Date|                Name|ContributorType|BoroughName|         City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+-------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
|    2005|       1|         BB|       P|  Weiner, Anthony D| 4/12/2005|10 West 47th Stre...|            LLC|          M|     New York|   NY|  10036|             null|  2500|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando|  5/9/2005|    10th Street, LLC|            LLC|          K|     Brooklyn|   NY|  11211|             null|  2000|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando|10/17/2005|112 South Whitney...|            LLC|          Z|West Hartford|   CT|   6119|             null|   125|       0|      0|        2|
|    2005|       1|         B6|       P|Fields, C. Virginia| 6/22/2004|119 East 35th Street|           OTHR|          M|     New York|   NY|  10006|             null|   100|       0|      0|        2|
|    2005|       1|         BB|       P|  Weiner, Anthony D| 3/28/2004|           1199 SEIU|          PCOMP|          M|     New York|   NY|  10036|             null|  4950|       0|      0|        2|
|    2005|       1|         Y2|       P| Miller, A. Gifford| 5/17/2002|   1199 SEIU NYS Paf|          PCOMP|          M|     New York|   NY|  10036|             null|  1000|       0|      0|        2|
|    2005|       1|         Y2|       P| Miller, A. Gifford| 7/11/2002|   1199 SEIU NYS Paf|          PCOMP|          M|     New York|   NY|  10036|             null|  1750|       0|   1000|        2|
|    2005|       1|         Y2|       P| Miller, A. Gifford| 5/22/2003|   1199 SEIU NYS Paf|          PCOMP|          M|     New York|   NY|  10036|             null|  2200|       0|   2750|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 9/28/2005|1199/SEIU NYS Pol...|          PCOMP|          M|     New York|   NY|  10036|             null|  4950|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 10/4/2004| 125 Kent Avenue LLC|            LLC|          K|     Brooklyn|   NY|  11211|             null|   200|       0|      0|        2|
|    2005|       1|         BB|       P|  Weiner, Anthony D|  1/3/2005|125 North 10th St...|            LLC|          Z|       Elmont|   NY|  11003|             null|  4950|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 1/11/2005|1280 Commonwealth...|            LLC|          X|        Bronx|   NY|  10461|             null|   500|       0|      0|        2|
|    2005|       1|         B6|       P|Fields, C. Virginia| 6/12/2002|135 East 57th Str...|            LLC|          M|     New York|   NY|  10022|             null|  1000|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 1/11/2005|137 & 138 Realty LLC|            LLC|          M|     New York|   NY|  10016|             null|   500|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando|10/20/2004|    1420 Realty, LLC|            LLC|          X|        Bronx|   NY|  10461|             null|  1000|       0|      0|        2|
|    2005|       1|         BB|       P|  Weiner, Anthony D| 6/27/2005|147 Group Realty LLC|            LLC|          Z|   Searington|   NY|  11507|             null|   250|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 9/19/2005|151st Street Hold...|            LLC|          Z|        Miami|   FL|  33142|             null|  4950|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 7/11/2004|1628-1630 Broadwa...|            LLC|          M|     New York|   NY|  10019|             null|  4950|       0|      0|        2|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 1/27/2005|1695 Eastchester LLC|            LLC|          X|        Bronx|   NY|  10461|             null|  1000|       0|      0|        2|
|    2005|       1|         B6|       P|Fields, C. Virginia| 12/4/2003|   1800 Park Ave LLC|            LLC|          M|     New York|   NY|  10022|             null|  1000|       0|      0|        2|
+--------+--------+-----------+--------+-------------------+----------+--------------------+---------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
only showing top 20 rows

In [35]:
#Change vaule name in ContributerType
from pyspark.sql.functions import regexp_replace
df3 = df1.withColumn('ContributorType', regexp_replace('ContributorType', 'CAN', 'Candidate')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'CORP', 'Corporation')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'EMPO', 'Labor Union')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'FAM', 'Candidate Family')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'IND', 'Individual')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMZ', 'Party Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'ORG', 'Orgainization')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'LLC', 'Limited Liability Company')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMP', 'Political Action Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'SPO', 'Spouse')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'OTHR', 'Other')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PCOMC', 'Candidate Committee')) \
  .withColumn('ContributorType', regexp_replace('ContributorType', 'PART', 'Individual')) \

In [36]:
#Change Payment Method Name
df4=df3.withColumn('PayMethod', regexp_replace('PayMethod','0','Unknown')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','1','Cash')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','2','Check')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','3','Other')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','4','Credit Card')) \
  .withColumn('PayMethod', regexp_replace('PayMethod','5','Money Order')) \

In [37]:
#Change Borough name
from pyspark.sql.functions import regexp_replace
df5 = df4.withColumn('BoroughName', regexp_replace('BoroughName', 'K', 'Brooklyn')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'M', 'Manhattan')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Q', 'Queens')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'S', 'Staten Island')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'X', 'Bronx')) \
  .withColumn('BoroughName', regexp_replace('BoroughName', 'Z', 'Other')) \

In [38]:
#Call only Mayor (1) and particaptes (P) within Dataframe
df6 = df5.filter((df5.OFFICECD=="1") & (df5.CANCLASS=="P"))
df6.show()

+--------+--------+-----------+--------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
|Election|OFFICECD|CandidateID|CANCLASS|      CandidateName|      Date|                Name|     ContributorType|BoroughName|         City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+--------+-----------+--------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
|    2005|       1|         BB|       P|  Weiner, Anthony D| 4/12/2005|10 West 47th Stre...|Limited Liability...|  Manhattan|     New York|   NY|  10036|             null|  2500|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando|  5/9/2005|    10th Street, LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|             null|  2000|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando|10/17/2005|112 South Whitney...|Limited Liability...|      Other|West Hartford|   CT|   6119|             null|   125|       0|      0|    Check|
|    2005|       1|         B6|       P|Fields, C. Virginia| 6/22/2004|119 East 35th Street|               Other|  Manhattan|     New York|   NY|  10006|             null|   100|       0|      0|    Check|
|    2005|       1|         BB|       P|  Weiner, Anthony D| 3/28/2004|           1199 SEIU|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  4950|       0|      0|    Check|
|    2005|       1|         Y2|       P| Miller, A. Gifford| 5/17/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  1000|       0|      0|    Check|
|    2005|       1|         Y2|       P| Miller, A. Gifford| 7/11/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  1750|       0|   1000|    Check|
|    2005|       1|         Y2|       P| Miller, A. Gifford| 5/22/2003|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  2200|       0|   2750|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 9/28/2005|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  4950|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 10/4/2004| 125 Kent Avenue LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|             null|   200|       0|      0|    Check|
|    2005|       1|         BB|       P|  Weiner, Anthony D|  1/3/2005|125 North 10th St...|Limited Liability...|      Other|       Elmont|   NY|  11003|             null|  4950|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 1/11/2005|1280 Commonwealth...|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|   500|       0|      0|    Check|
|    2005|       1|         B6|       P|Fields, C. Virginia| 6/12/2002|135 East 57th Str...|Limited Liability...|  Manhattan|     New York|   NY|  10022|             null|  1000|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 1/11/2005|137 & 138 Realty LLC|Limited Liability...|  Manhattan|     New York|   NY|  10016|             null|   500|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando|10/20/2004|    1420 Realty, LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2005|       1|         BB|       P|  Weiner, Anthony D| 6/27/2005|147 Group Realty LLC|Limited Liability...|      Other|   Searington|   NY|  11507|             null|   250|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 9/19/2005|151st Street Hold...|Limited Liability...|      Other|        Miami|   FL|  33142|             null|  4950|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 7/11/2004|1628-1630 Broadwa...|Limited Liability...|  Manhattan|     New York|   NY|  10019|             null|  4950|       0|      0|    Check|
|    2005|       1|         AY|       P|   Ferrer, Fernando| 1/27/2005|1695 Eastchester LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2005|       1|         B6|       P|Fields, C. Virginia| 12/4/2003|   1800 Park Ave LLC|Limited Liability...|  Manhattan|     New York|   NY|  10022|             null|  1000|       0|      0|    Check|
+--------+--------+-----------+--------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
only showing top 20 rows

In [39]:
#Check the above dataframe to make sure only unique values between the OFFICECD is 1 
df6.select('OFFICECD').distinct().show()

+--------+
|OFFICECD|
+--------+
|       1|
+--------+

In [40]:
#Drop OFFICECD and CANCLASS
list2 = ['OFFICECD', 'CANCLASS'] 
df7 = df6.drop(*list2)
df7.show()

+--------+-----------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
|Election|CandidateID|      CandidateName|      Date|                Name|     ContributorType|BoroughName|         City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|
+--------+-----------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
|    2005|         BB|  Weiner, Anthony D| 4/12/2005|10 West 47th Stre...|Limited Liability...|  Manhattan|     New York|   NY|  10036|             null|  2500|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando|  5/9/2005|    10th Street, LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|             null|  2000|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando|10/17/2005|112 South Whitney...|Limited Liability...|      Other|West Hartford|   CT|   6119|             null|   125|       0|      0|    Check|
|    2005|         B6|Fields, C. Virginia| 6/22/2004|119 East 35th Street|               Other|  Manhattan|     New York|   NY|  10006|             null|   100|       0|      0|    Check|
|    2005|         BB|  Weiner, Anthony D| 3/28/2004|           1199 SEIU|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  4950|       0|      0|    Check|
|    2005|         Y2| Miller, A. Gifford| 5/17/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  1000|       0|      0|    Check|
|    2005|         Y2| Miller, A. Gifford| 7/11/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  1750|       0|   1000|    Check|
|    2005|         Y2| Miller, A. Gifford| 5/22/2003|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  2200|       0|   2750|    Check|
|    2005|         AY|   Ferrer, Fernando| 9/28/2005|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  4950|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando| 10/4/2004| 125 Kent Avenue LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|             null|   200|       0|      0|    Check|
|    2005|         BB|  Weiner, Anthony D|  1/3/2005|125 North 10th St...|Limited Liability...|      Other|       Elmont|   NY|  11003|             null|  4950|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando| 1/11/2005|1280 Commonwealth...|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|   500|       0|      0|    Check|
|    2005|         B6|Fields, C. Virginia| 6/12/2002|135 East 57th Str...|Limited Liability...|  Manhattan|     New York|   NY|  10022|             null|  1000|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando| 1/11/2005|137 & 138 Realty LLC|Limited Liability...|  Manhattan|     New York|   NY|  10016|             null|   500|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando|10/20/2004|    1420 Realty, LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2005|         BB|  Weiner, Anthony D| 6/27/2005|147 Group Realty LLC|Limited Liability...|      Other|   Searington|   NY|  11507|             null|   250|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando| 9/19/2005|151st Street Hold...|Limited Liability...|      Other|        Miami|   FL|  33142|             null|  4950|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando| 7/11/2004|1628-1630 Broadwa...|Limited Liability...|  Manhattan|     New York|   NY|  10019|             null|  4950|       0|      0|    Check|
|    2005|         AY|   Ferrer, Fernando| 1/27/2005|1695 Eastchester LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|  1000|       0|      0|    Check|
|    2005|         B6|Fields, C. Virginia| 12/4/2003|   1800 Park Ave LLC|Limited Liability...|  Manhattan|     New York|   NY|  10022|             null|  1000|       0|      0|    Check|
+--------+-----------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+
only showing top 20 rows

In [41]:
#Filter Dataframe removing the null CandidateID values
df8 = df7.filter(df7.CandidateID.isNotNull())

In [42]:
# ADD AMNT and MATCHAMNT PrevAmnt
from pyspark.sql.functions import col
clean_comm_2005_df = df8.withColumn("TotalAmount", col("Amount")+col("MatchAmt")+col('PrevAmt'))
clean_comm_2005_df.show()

+--------+-----------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+-----------+
|Election|CandidateID|      CandidateName|      Date|                Name|     ContributorType|BoroughName|         City|State|ZipCode|ContributionState|Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+-----------+
|    2005|         BB|  Weiner, Anthony D| 4/12/2005|10 West 47th Stre...|Limited Liability...|  Manhattan|     New York|   NY|  10036|             null|  2500|       0|      0|    Check|     2500.0|
|    2005|         AY|   Ferrer, Fernando|  5/9/2005|    10th Street, LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|             null|  2000|       0|      0|    Check|     2000.0|
|    2005|         AY|   Ferrer, Fernando|10/17/2005|112 South Whitney...|Limited Liability...|      Other|West Hartford|   CT|   6119|             null|   125|       0|      0|    Check|      125.0|
|    2005|         B6|Fields, C. Virginia| 6/22/2004|119 East 35th Street|               Other|  Manhattan|     New York|   NY|  10006|             null|   100|       0|      0|    Check|      100.0|
|    2005|         BB|  Weiner, Anthony D| 3/28/2004|           1199 SEIU|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  4950|       0|      0|    Check|     4950.0|
|    2005|         Y2| Miller, A. Gifford| 5/17/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  1000|       0|      0|    Check|     1000.0|
|    2005|         Y2| Miller, A. Gifford| 7/11/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  1750|       0|   1000|    Check|     2750.0|
|    2005|         Y2| Miller, A. Gifford| 5/22/2003|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  2200|       0|   2750|    Check|     4950.0|
|    2005|         AY|   Ferrer, Fernando| 9/28/2005|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|     New York|   NY|  10036|             null|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Ferrer, Fernando| 10/4/2004| 125 Kent Avenue LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|             null|   200|       0|      0|    Check|      200.0|
|    2005|         BB|  Weiner, Anthony D|  1/3/2005|125 North 10th St...|Limited Liability...|      Other|       Elmont|   NY|  11003|             null|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Ferrer, Fernando| 1/11/2005|1280 Commonwealth...|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|   500|       0|      0|    Check|      500.0|
|    2005|         B6|Fields, C. Virginia| 6/12/2002|135 East 57th Str...|Limited Liability...|  Manhattan|     New York|   NY|  10022|             null|  1000|       0|      0|    Check|     1000.0|
|    2005|         AY|   Ferrer, Fernando| 1/11/2005|137 & 138 Realty LLC|Limited Liability...|  Manhattan|     New York|   NY|  10016|             null|   500|       0|      0|    Check|      500.0|
|    2005|         AY|   Ferrer, Fernando|10/20/2004|    1420 Realty, LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|  1000|       0|      0|    Check|     1000.0|
|    2005|         BB|  Weiner, Anthony D| 6/27/2005|147 Group Realty LLC|Limited Liability...|      Other|   Searington|   NY|  11507|             null|   250|       0|      0|    Check|      250.0|
|    2005|         AY|   Ferrer, Fernando| 9/19/2005|151st Street Hold...|Limited Liability...|      Other|        Miami|   FL|  33142|             null|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Ferrer, Fernando| 7/11/2004|1628-1630 Broadwa...|Limited Liability...|  Manhattan|     New York|   NY|  10019|             null|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Ferrer, Fernando| 1/27/2005|1695 Eastchester LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|             null|  1000|       0|      0|    Check|     1000.0|
|    2005|         B6|Fields, C. Virginia| 12/4/2003|   1800 Park Ave LLC|Limited Liability...|  Manhattan|     New York|   NY|  10022|             null|  1000|       0|      0|    Check|     1000.0|
+--------+-----------+-------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+-----------------+------+--------+-------+---------+-----------+
only showing top 20 rows

In [43]:
# import modules
from pyspark.sql import SparkSession
import functools
  
# explicit function
def unionAll(dfs):
    return functools.reduce(lambda clean_indiv_2005_df, clean_comm_2005_df: clean_indiv_2005_df.union(clean_comm_2005_df.select(clean_indiv_2005_df.columns)), dfs)

unioned_df = unionAll([clean_indiv_2005_df, clean_comm_2005_df])
unioned_df.show()

+--------+-----------+------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+-----------+
|Election|CandidateID|     CandidateName|      Date|                Name|     ContributorType|BoroughName|         City|State|ZipCode|Amount|MatchAmt|PrevAmt|PayMethod|TotalAmount|
+--------+-----------+------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+-----------+
|    2005|         BB|    Anthony,Weiner| 4/12/2005|10 West 47th Stre...|Limited Liability...|  Manhattan|     New York|   NY|  10036|  2500|       0|      0|    Check|     2500.0|
|    2005|         AY|   Fernando,Ferrer|  5/9/2005|    10th Street, LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|  2000|       0|      0|    Check|     2000.0|
|    2005|         AY|   Fernando,Ferrer|10/17/2005|112 South Whitney...|Limited Liability...|      Other|West Hartford|   CT|   6119|   125|       0|      0|    Check|      125.0|
|    2005|         B6|C. Virginia,Fields| 6/22/2004|119 East 35th Street|               Other|  Manhattan|     New York|   NY|  10006|   100|       0|      0|    Check|      100.0|
|    2005|         BB|    Anthony,Weiner| 3/28/2004|           1199 SEIU|Political Action ...|  Manhattan|     New York|   NY|  10036|  4950|       0|      0|    Check|     4950.0|
|    2005|         Y2| A. Gifford,Miller| 5/22/2003|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|  2200|       0|   2750|    Check|     4950.0|
|    2005|         Y2| A. Gifford,Miller| 5/17/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|  1000|       0|      0|    Check|     1000.0|
|    2005|         Y2| A. Gifford,Miller| 7/11/2002|   1199 SEIU NYS Paf|Political Action ...|  Manhattan|     New York|   NY|  10036|  1750|       0|   1000|    Check|     2750.0|
|    2005|         AY|   Fernando,Ferrer| 9/28/2005|1199/SEIU NYS Pol...|Political Action ...|  Manhattan|     New York|   NY|  10036|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 10/4/2004| 125 Kent Avenue LLC|Limited Liability...|   Brooklyn|     Brooklyn|   NY|  11211|   200|       0|      0|    Check|      200.0|
|    2005|         BB|    Anthony,Weiner|  1/3/2005|125 North 10th St...|Limited Liability...|      Other|       Elmont|   NY|  11003|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 1/11/2005|1280 Commonwealth...|Limited Liability...|      Bronx|        Bronx|   NY|  10461|   500|       0|      0|    Check|      500.0|
|    2005|         B6|C. Virginia,Fields| 6/12/2002|135 East 57th Str...|Limited Liability...|  Manhattan|     New York|   NY|  10022|  1000|       0|      0|    Check|     1000.0|
|    2005|         AY|   Fernando,Ferrer| 1/11/2005|137 & 138 Realty LLC|Limited Liability...|  Manhattan|     New York|   NY|  10016|   500|       0|      0|    Check|      500.0|
|    2005|         AY|   Fernando,Ferrer|10/20/2004|    1420 Realty, LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2005|         BB|    Anthony,Weiner| 6/27/2005|147 Group Realty LLC|Limited Liability...|      Other|   Searington|   NY|  11507|   250|       0|      0|    Check|      250.0|
|    2005|         AY|   Fernando,Ferrer| 9/19/2005|151st Street Hold...|Limited Liability...|      Other|        Miami|   FL|  33142|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 7/11/2004|1628-1630 Broadwa...|Limited Liability...|  Manhattan|     New York|   NY|  10019|  4950|       0|      0|    Check|     4950.0|
|    2005|         AY|   Fernando,Ferrer| 1/27/2005|1695 Eastchester LLC|Limited Liability...|      Bronx|        Bronx|   NY|  10461|  1000|       0|      0|    Check|     1000.0|
|    2005|         B6|C. Virginia,Fields| 12/4/2003|   1800 Park Ave LLC|Limited Liability...|  Manhattan|     New York|   NY|  10022|  1000|       0|      0|    Check|     1000.0|
+--------+-----------+------------------+----------+--------------------+--------------------+-----------+-------------+-----+-------+------+--------+-------+---------+-----------+
only showing top 20 rows

In [44]:
#Export to new CSV
unioned_df.toPandas().to_csv("Contributions_2005.csv", header=True)

In [45]:
#Export to new CSV
#clean_comm_2005_df.toPandas().to_csv("Clean_Committee_2005.csv", header=True)

In [46]:
# Store environmental variable
from getpass import getpass
#Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-final.cjdbapst3wjf.us-east-1.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "******",
          "driver":"org.postgresql.Driver"}

In [47]:
# Write DataFrame to active_user table in RDS
#clean_indiv_2005_df.write.jdbc(url=jdbc_url, table='individual_2005', mode=mode, properties=config)

In [48]:
# Write DataFrame to active_user table in RDS
#clean_comm_2005_df.write.jdbc(url=jdbc_url, table='committee_2005', mode=mode, properties=config)