In [2]:
# Initial imports
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import pandas as pd
import numpy as np

In [4]:
file = './Resources/Election Contribution tables/Contributions_2017.csv'
IC_2017 = pd.read_csv(file,index_col=False)
IC_2017.head()

FileNotFoundError: [Errno 2] No such file or directory: './Resources/Election Contribution tables/Contributions_2017.csv'

In [73]:
IC_2017.columns

Index(['Unnamed: 0', 'Election', 'CandidateID', 'CandidateName', 'Date',
       'Name', 'ContributerType', 'BoroughName', 'City', 'State', 'ZipCode',
       'ContributionState', 'Amount', 'MatchAmt', 'PrevAmt', 'PayMethod',
       'TotalAmount'],
      dtype='object')

In [90]:
IC_2017_df = IC_2017.drop(columns=['ContributionState','PayMethod','Name','CandidateID','Unnamed: 0','Election','BoroughName'])
IC_2017_df

,CandidateName,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount
0,"de Blasio, Bill",2017-08-07,Individual,Brooklyn,NY,11213.0,5.0,5.0,0.0,10.0
1,"Malliotakis, Nicole",2017-09-20,Individual,Brooklyn,NY,11209.0,100.0,100.0,0.0,200.0
2,"Slattery, Collin",2017-06-01,Individual,Howard Beach,NY,11414.0,50.0,50.0,0.0,100.0
3,"de Blasio, Bill",2017-10-23,Individual,New York,NY,10027.0,175.0,175.0,0.0,350.0
4,"de Blasio, Bill",2016-05-08,Individual,Riverview,FL,33579.0,175.0,0.0,0.0,175.0
...,...,...,...,...,...,...,...,...,...,...
27442,"Malliotakis, Nicole",2017-09-25,Individual,New York,NY,10022.0,175.0,125.0,50.0,350.0
27443,"Malliotakis, Nicole",2017-10-22,Individual,New York,NY,10016.0,50.0,50.0,0.0,100.0
27444,"de Blasio, Bill",2017-01-09,Individual,Astoria,NY,11105.0,50.0,50.0,0.0,100.0
27445,"de Blasio, Bill",2017-02-10,Individual,Brooklyn,NY,11225.0,3.0,3.0,0.0,6.0
27446,"de Blasio, Bill",2017-06-30,Individual,Brooklyn,NY,11229.0,25.0,25.0,0.0,50.0

In [91]:
outcome = []
for i in IC_2017['CandidateName']:
    if i == 'de Blasio, Bill':
        outcome.append('W')
    else:
        outcome.append('L')

IC_2017_df['Outcome'] = outcome
IC_2017_df.head()

,CandidateName,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
0,"de Blasio, Bill",2017-08-07,Individual,Brooklyn,NY,11213.0,5.0,5.0,0.0,10.0,W
1,"Malliotakis, Nicole",2017-09-20,Individual,Brooklyn,NY,11209.0,100.0,100.0,0.0,200.0,L
2,"Slattery, Collin",2017-06-01,Individual,Howard Beach,NY,11414.0,50.0,50.0,0.0,100.0,L
3,"de Blasio, Bill",2017-10-23,Individual,New York,NY,10027.0,175.0,175.0,0.0,350.0,W
4,"de Blasio, Bill",2016-05-08,Individual,Riverview,FL,33579.0,175.0,0.0,0.0,175.0,W

In [92]:
IC_2017_df = IC_2017_df.dropna()
IC_2017_df.isnull().sum()

CandidateName      0
Date               0
ContributerType    0
City               0
State              0
ZipCode            0
Amount             0
MatchAmt           0
PrevAmt            0
TotalAmount        0
Outcome            0
dtype: int64

In [93]:
X = IC_2017_df.drop('Outcome',axis = 1)
X = pd.get_dummies(X)

In [94]:
y = IC_2017_df['Outcome']

In [95]:
# Check the balance of our target values
y.value_counts()

W    18844
L     8207
Name: Outcome, dtype: int64

In [105]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [106]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE

from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 100,random_state = 1)
random_forest = random_forest.fit(X_train, y_train)

In [103]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

1.0

In [104]:
# Display the confusion matrix
# YOUR CODE HERE
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1997,    0],
       [   0, 4766]])

In [119]:
IC_2017_df.head()

,CandidateName,Date,ContributerType,City,State,ZipCode,Amount,MatchAmt,PrevAmt,TotalAmount,Outcome
0,"de Blasio, Bill",2017-08-07,Individual,Brooklyn,NY,11213.0,5.0,5.0,0.0,10.0,W
1,"Malliotakis, Nicole",2017-09-20,Individual,Brooklyn,NY,11209.0,100.0,100.0,0.0,200.0,L
2,"Slattery, Collin",2017-06-01,Individual,Howard Beach,NY,11414.0,50.0,50.0,0.0,100.0,L
3,"de Blasio, Bill",2017-10-23,Individual,New York,NY,10027.0,175.0,175.0,0.0,350.0,W
4,"de Blasio, Bill",2016-05-08,Individual,Riverview,FL,33579.0,175.0,0.0,0.0,175.0,W

In [5]:
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest, chi2
le = LabelEncoder()
IC_2017_df['CandidateName']= le.fit_transform(IC_2017_df['CandidateName'])
IC_2017_df['Date'] = le.fit_transform(IC_2017_df['Date'])
IC_2017_df['ContributerType'] = le.fit_transform(IC_2017_df['ContributerType'])
IC_2017_df['City'] = le.fit_transform(IC_2017_df['City'])
IC_2017_df['Amount'] = le.fit_transform(IC_2017_df['Amount'])
IC_2017_df['State'] = le.fit_transform(IC_2017_df['State'])
IC_2017_df['ZipCode'] = le.fit_transform(IC_2017_df['ZipCode'])
IC_2017_df['MatchAmt'] = le.fit_transform(IC_2017_df['MatchAmt'])
IC_2017_df['PrevAmt'] = le.fit_transform(IC_2017_df['PrevAmt'])
IC_2017_df['TotalAmount'] = le.fit_transform(IC_2017_df['TotalAmount'])
IC_2017_df['Outcome'] = le.fit_transform(IC_2017_df['Outcome'])

NameError: name 'IC_2017_df' is not defined

In [126]:
# separate train features and label
y = IC_2017_df["Outcome"]
X = IC_2017_df.drop(labels=["Outcome"], axis=1)
# split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)
# train and test knn model
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
knn.predict(X_test)
print("Testing Accuracy is: ", knn.score(X_test, y_test)*100, "%")

Testing Accuracy is:  88.4679356865644 %

In [127]:
scaler = MinMaxScaler(feature_range=(0, 1))

In [130]:
features = list(IC_2017_df.columns)

In [131]:
IC_2017_df[features] = scaler.fit_transform(IC_2017_df[features])

/Users/Abir/.local/lib/python3.7/site-packages/pandas/core/frame.py:3673: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [1]:
plt.scatter(X_test,y_pred)

NameError: name 'plt' is not defined